<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Reccomendation</title>
</head>
<body>
    <form action='/movies' method='GET'>
        Type in the movie name: <input type="search" name='name'>
        <br>
        <input type='submit'>
    </form>

    {% for movie in movies %}
        <p> {{movie}} </p>
    {% endfor %}

    <form action='/books' method='GET'>
        Type in a book name: <input type="search" name='name'>
        <br>
        <input type='submit'>
    </form>
    {% for book in books %}
        <p> {{book}} </p>
    {% endfor %}

</body>
