<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
  <title>Reccomendation</title>
</head>
<body>
    <h1>Recommender</h1>
    <h2>Movie or Book?</h2>

    <input type="radio" id="movie" name="recommend" value="movie">
    <label for="movie">Movie</label><br>
    <input type="radio" id="book" name="recommend" value="book">
    <label for="book">Book</label><br>

    <form action='/movies' method='GET' id='movieForm'>
        Type in the movie name: <input type="search" name='name'>
        <br>
        <input type='submit'>
    </form>

    {% for movie in movies %}
        <p class='recmovie'> {{movie}} </p>
    {% endfor %}
    
    <button id='addWatchList'>Add to watchlist</button>


    <form action='/books' method='GET' id='bookForm'>
        Type in a book name: <input type="search" name='name'>
        <br>
        <input type='submit'>
    </form>
    {% for book in books %}
        <p> {{book}} </p>
    {% endfor %}

    <script type= 'text/javascript' src="{{url_for('static', filename='js/script.js') }}"></script>

</body>
